/target
/project/target
/project/project/target
/.idea
/*.iws
/*.ipr
/monix-test/target
/monix-test/project/target
/monix-test/project/project/target
/spark-test/target
/spark-test/project/target
/spark-test/project/project/target
/scala-graph-test/target
/scala-graph-test/project/target
/scala-graph-test/project/project/target
/spark-test/dataset
/config-test/target
/config-test/project/target
/config-test/*
/monix-test/.idea
/spark-test/.idea
